.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemWrapper {
  width: 300px;
  min-height: 100px;
  border: solid 1px orchid;
  border-radius: 10px;
  background-color: orangered;
  height: auto;
  display: flex;
  flex-direction: column;
  font-style: oblique;
  margin: 10px;
}

.title {
  width: 300px;
  min-height: 100px;
  word-wrap: break-word;
  padding: 5px;
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 3em;
}

.desc {
  width: 300px;
  min-height: 100px;
  border: solid 1px green;
  background-color: blueviolet;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 5px;
  font-size: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  min-height: 7em;
}
