.navbar {
  height: 5vh;
  background-color: orangered;
  color: black;
  text-align: center;
}

.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}

.btn {
  background-color: orangered;
  color: blue;
  border: 1px;
  cursor: pointer;
}

.btn:hover {
  font-size: larger;
  color: blue;
}
